h4 {
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 1px solid #cecece;
    padding: 20px;
}

.media {
    display: flex;
    width: 100%;
}

.media-left {
    margin-right: 1em;
}

.media-content {
    flex: 1;
}

.media-content-buttons {
    text-align: right;
}

.media-content textarea {
    width: 100%;
    min-height: 100px;
    padding: 0;
    border-color: #cecece;
}